<!-- Title Area -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" th:href="@{/images/icons/laptop.png}">
    <title>
        Giỏ hàng
    </title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,700,500italic,100italic,100' rel='stylesheet' type='text/css'>
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/flexslider.css}" type="text/css" media="screen"/>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
    <!-- Header -->
   <body id="home">
    <div class="wrapper">
       <div class="header">
          <div class="container">
             <div class="row">
                 <div class="col-md-2 col-sm-2">
                     <div class="logo"><a th:href="@{/index}"><img th:src="@{/images/logot3h.png}" alt="T3HShop"></a></div>
                 </div>
                 <div class="col-md-10 col-sm-10">
                     <div class="header_top">
                         <div class="row">
                             <div class="col-md-6">
                                 <ul class="topmenu">
                                     <li><form th:action="@{/logout}" method="post">
                                         <input type="submit" value="Logout" />
                                     </form></li>
                                 </ul>
                             </div>
                             <div class="col-md-3">
                                 <ul class="usermenu">
                                     <li>
                                         <a href="#" class="log">
                                             Chào người dùng <div sec:authentication="name"></div>
                                         </a>
                                         <input type="hidden" id="username" th:value="${username}"></input>
                                     </li>
                                 </ul>
                             </div>
                         </div>
                     </div>
                     <div class="clearfix"></div>
                     <div class="header_bottom">
                         <ul class="option">
                             <li class="option-cart">
                                 <a th:href="@{/{username}/cart(username=${#authentication.name})}" class="cart-icon"></a>
                             </li>
                         </ul>
                         <div class="navbar-header"><button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button></div>
                         <div class="navbar-collapse collapse">
                             <ul class="nav navbar-nav">
                                 <li><a th:href="@{/index}">Home</a></li>
                                 <li><a th:href="@{/{username}/phone(username=${#authentication.name})}">Phone</a></li>
                                 <li><a th:href="@{/{username}/laptop(username=${#authentication.name})}">Laptop</a></li>
                                 <li><a th:href="@{/{username}/tablet(username=${#authentication.name})}">Tablet</a></li>
                                 <li><a th:href="@{/{username}/watch(username=${#authentication.name})}">Watch</a></li>
                                 <li><a th:href="@{/{username}/accessory(username=${#authentication.name})}">Phụ kiện</a></li>
                                 <li><a th:href="@{/{username}/order(username=${#authentication.name})}">Đơn hàng</a></li>
                             </ul>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
       <!-- Body -->
        <div class="clearfix">
        </div>
        <div class="page-index">
        </div>
      </div>
      <div class="clearfix">
      </div>
      <div class="container_fullwidth">
        <div class="container shopping-cart">
          <div class="row">
            <div class="col-md-12">
              <h3 class="title">
                Giỏ hàng hiện tại
              </h3>
              <div class="clearfix">
              </div>
                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <label for="productName">Tên sản phẩm:</label>
                        <input type="text" class="form-control" id="productName">
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="price">Giá sản phẩm:</label>
                        <input type="number" class="form-control" id="price">
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="quantity">Số lượng:</label>
                        <input type="number" class="form-control" id="quantity">
                    </div>
                </div>
                <button id="btnSearch" onclick="searchCondition(0,5)" class="btn btn-primary">Tìm kiếm</button>
                <hr>
              <!-- Bảng thông tin ở đây -->
                <table class="table" id="tableDate">
                    <thead>
                    <tr>
                        <th>Mã sản phẩm</th>
                        <th style="width: 15%;">Tên sản phẩm</th>
                        <th>Hình ảnh</th>
                        <th>Số lượng</th>
                        <th>Chi phí</th>
                        <th>Hành động</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
                <nav aria-label="...">
                    <ul class="pagination" id="pageId" style="float: right;">
                        <!--            <li class="page-item">-->
                        <!--                <a class="page-link" href="#">1</a></li>-->
                        <!--            <li class="page-item active">-->
                        <!--                <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>-->
                        <!--            </li>-->
                        <!--            <li class="page-item"><a class="page-link" href="#">3</a></li>-->
                    </ul>
                </nav>




              <div class="clearfix">
              </div>
              <div class="row">
                <div class="col-md-4 col-sm-6">
                  <div class="shippingbox">
                    <h5>
                      Lựa chọn phương thức
                    </h5>
                    <form>
                      <label>
                        Chọn tỉnh/thành *
                      </label>
                      <select class="">
                        <option value="HP">
                          Hải Phòng
                        </option>
                        <option value="AK">
                          Hà Nội
                        </option>
                        <option value="AZ">
                          TP HCM
                        </option>
                        <option value="AR">
                          Nghệ An
                        </option>
                        <option value="CA">
                          Thanh Hoá
                        </option>
                      </select>
                      <label>
                        Phương thức thanh toán *
                      </label>
                      <select class="">
                        <option value="AL">
                          Chuyển khoản
                        </option>
                        <option value="AK">
                          Ship COD
                        </option>
                      </select>
                        
                      <div class="clearfix">
                      </div>
                      <button>
                        Xác nhận
                      </button>
                    </form>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6">
                  <div class="shippingbox">
                    <h5>
                      Code giảm giá
                    </h5>
                    <form>
                      <label>
                        Nhập mã giảm giá (nếu có):
                      </label>
                      <input type="text" id="code">
                      <div class="clearfix">
                      </div>
                      <button href="#">
                        Xác nhận
                      </button>
                    </form>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6">
                  <div class="shippingbox">
                    <div class="subtotal">
                      <h5>
                        Phí ship
                      </h5>
                      <span>
                        đ30.000
                      </span>
                    </div>
                    <div class="grandtotal">
                      <h5>
                        Tổng chi phí
                      </h5>
                      <span id="total">

                      </span>
                    </div>
                    <button onclick="checkout()" href="#">
                      Xác nhận đơn hàng
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="clearfix">
          </div>
          <div class="our-brand">
            <h3 class="title">Thương hiệu <strong>HOT</strong></h3>
            <div class="control"><a id="prev_brand" class="prev" href="#">&lt;</a><a id="next_brand" class="next" href="#">&gt;</a></div>
            <ul id="braldLogo">
                <li>
                    <ul class="brand_item">
                        <li>
                            <a href="#">
                                <div class="brand-logo"><img th:src="@{/images/brands/apple.png}" alt=""></div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="brand-logo"><img th:src="@{/images/brands/dell.png}" alt=""></div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="brand-logo"><img th:src="@{/images/brands/xiaomi.png}" alt=""></div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="brand-logo"><img th:src="@{/images/brands/acer.png}" alt=""></div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="brand-logo"><img th:src="@{/images/brands/logitech.png}" alt=""></div>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul class="brand_item">
                        <li>
                            <a href="#">
                                <div class="brand-logo"><img th:src="@{/images/brands/lenovo.png}" alt=""></div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="brand-logo"><img th:src="@{/images/brands/oppo.png}" alt=""></div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="brand-logo"><img th:src="@{/images/brands/asus.png}" alt=""></div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="brand-logo"><img th:src="@{/images/brands/msi.png}" alt=""></div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="brand-logo"><img th:src="@{/images/brands/dell.png}" alt=""></div>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        </div>
      </div>

      <div class="clearfix">
      </div>

      <div class="footer">
        <div class="footer-info">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="footer-logo"><a href="#"><img th:src="@{/images/logot3h.png}" alt=""></a></div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <h4 class="title">Thông tin <strong>liên lạc</strong></h4>
                        <p>Tô Hiệu - Lê Chân - Hải Phòng</p>
                        <p>Điện thoại : (+84) 94 821 25 16</p>
                        <p>Email : phamminhhiep0402@gmail.com</p>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <h4 class="title">Chăm sóc<strong> Khách hàng</strong></h4>
                        <ul class="support">
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Payment Option</a></li>
                            <li><a href="#">Booking Tips</a></li>
                            <li><a href="#">Infomation</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h4 class="title">Đón nhận <strong>tin tức mới nhất </strong></h4>
                        <p>Thông tin mới nhất về các sản phẩm</p>
                        <form class="newsletter">
                            <input type="text" name="" placeholder="Nhập email của bạn....">
                            <input type="submit" value="Đăng ký" class="button">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-info">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p>Copyright © 2023. Designed by <a href="https://www.facebook.com/pham.minhhiep.1232/">Pham Minh Hiep</a>. All rights reseved</p>
                    </div>
                    <div class="col-md-6">
                        <ul class="social-icon">
                            <li><a href="https://www.linkedin.com/in/hiep-pham-minh-09a047265/" class="linkedin"></a></li>
                            <li><a href="https://mail.google.com/mail/?view=cm&to=phamminhhiep0402@gmail.com" class="google-plus"></a></li>
                            <li><a href="https://www.facebook.com/pham.minhhiep.1232/" class="facebook"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
   </body>
    <!-- Bootstrap core JavaScript==================================================-->
    <script type="text/javascript" th:src="@{/js/jquery.easing.1.3.js}">
    </script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}">
    </script>
    <script defer th:src="@{/js/jquery.flexslider.js}">
    </script>
    <script type="text/javascript" th:src="@{/js/jquery.sequence-min.js}">
    </script>
    <script type="text/javascript" th:src="@{/js/jquery.carouFredSel-6.2.1-packed.js}">
    </script>
    <script type="text/javascript" th:src="@{/js/script.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-1.10.2.min.js}"></script>

<script>
    // vừa load xong trang web sẽ chạy luôn
    var username = $("#username").val();
    $(document).ready(function (){
        initData();
    })

    function initData(){
        let page=0;
        let size=5;
        let objFilter = {
            name:null
        };
        getPhones(page,size,objFilter);
    }

    function getPhones(page, size, objectFilter) {
        var totalSpan = $("#total");
        let bodyTable = $('#tableDate > tbody');
        bodyTable.empty();
        $.ajax({
            type: "POST",
            url: "http://localhost:8080/cart/" + username + "?page=" + page + "&size=" + size,
            contentType: "application/json",
            data: JSON.stringify(objectFilter),
            dataType: "json",
            success: function (response) {
                let total = 30000;
                console.log(response);
                let products = response?.data?.content;
                for (let i = 0; i < products.length; i++) {
                    data = products[i];
                    let row = '<tr>' +
                        '<td>' + data.productId + '</td>' +
                        '<td style="width: 15%;">' + data.productName + '</td>' +
                        '<td>' + '<img style="width: 50px;height: 50px" src="' + data.image + '">' + '</td>' +
                        '<td>' + data.quantity + '</td>' +
                        '<td>' + data.price + '</td>';
                    row +=
                        '<td> ' +
                        '<a style="margin-left: 10%" class="btn btn-warning no-border" onclick="addToOrder(' + data.id + ')" href="#">Cập nhật thông tin</a> ' +
                        '<a style="margin-left: 10%" class="btn btn-danger" onclick="deleteCartItem(' + data.id + ')" href="#">Xoá sản phẩm</a> </td>' +
                        '</tr>'
                    $('#tableDate').append(row);
                    total += data.price;
                }
                totalSpan.text("đ" + total);

                // Phân trang
                let totalPage = response.data.totalPages;
                let currentPage = response.data.pageable.pageNumber;
                if (totalPage > 0) {
                    $("#pageId").empty();
                    let pages = '<li class="page-item"><a class="page-link" onclick="changePage(' + (currentPage - 1) + ',5,event)" href="#">Previous</a></li>';
                    for (let i = 0; i < totalPage; i++) {
                        if (currentPage === i) {
                            pages += '            <li class="page-item active">\n' +
                                '                <a class="page-link " onclick="changePage(' + i + ',5,event)" href="#">' + (i + 1) + '</a></li>\n' +
                                '            <li class="page-item">'
                        } else {
                            pages += '            <li class="page-item">\n' +
                                '                <a class="page-link" onclick="changePage(' + i + ',5,event)" href="#">' + (i + 1) + '</a></li>\n' +
                                '            <li class="page-item">'
                        }

                    }
                    pages += '<li class="page-item"><a class="page-link" onclick="changePage(' + (currentPage + 1) + ',5,event)" href="#">Next</a></li>';
                    $("#pageId").append(pages);
                }
            },
            error: function (error) {
                console.log(error);
            }
        })
    }
    function updateCartItem(id) {
        window.location.href = "http://localhost:8080/" + username + "/updateCart/" + id;
    }

    function deleteCartItem(id) {
        var username = $("#username").val();
        $.ajax({
            type: "DELETE",
            url: "http://localhost:8080/delete-cart/" + id,
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function(response) {
                alert('Xoá thành công!');
                window.location.href = "http://localhost:8080/" + username + "/cart";
            },
            error: function(error) {
                alert("Error");
            }
        });
    }

    function addToOrder(id) {
        $.ajax({
            type: "GET",
            url: "http://localhost:8080/add-to-cart/" + id + "/1/" + username,
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function(response) {
                alert('Thêm vào đơn hàng thành công!');
                window.location.href = "http://localhost:8080/" + username + "/cart";
            },
            error: function(error) {
                alert("Error");
            }
        });
    }
    function checkout(){
        var username = $("#username").val();
        $.ajax({
            type: "GET",
            url: "http://localhost:8080/checkout/" + username,
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function(response) {
                alert('Tạo đơn hàng thành công!');
                window.location.href = "http://localhost:8080/" + username + "/order";
            },
            error: function(error) {
                alert("Error");
            }
        });
    }
    function discount() {
        var code = $("#code").val();
        if (code === "123") {
            var total = parseFloat($("#total").text());
            if (!isNaN(total)) {
                total -= 30000;
                $("#total").text(total);
            }
        }
    }





    function searchCondition(page,size){
        let filter = {};
        filter.productName= $("#productName").val() === '' ? null : $("#productName").val();
        filter.price = $("#price").val() === '' ? null : $("#price").val();
        filter.quantity = $("#quantity").val() === '' ? null : $("#quantity").val();
        getPhones(page,size,filter);
    }

    function changePage(page,size,event){
        event.preventDefault();
        searchCondition(page,size);
    }
</script>
</html>