<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="@{/ALLCSS/test-index-css.css}">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script th:src="@{/ALLCSS/index.js}"></script>
</head>
<body>
<div>HELLO EVERYONE</div>
<div sec:authorize="hasRole('HIGH')">Text visible to HIGH.</div>
Authenticated username:
<div sec:authentication="name"></div>
<label sec:authentication="name" id="lblUserName"></label>
<p>Roles: <span sec:authentication="principal.authorities"> </span></p>
<form th:action="@{/client/logout}" method="post">
    <input type="submit" value="Logout" />
</form>
<div class="container d-flex justify-content-center mt-50 mb-50">

    <div class="row" id="rowProduct">

    </div>
</div>
<script>

</script>
</body>

</html>